<nav class="navbar navbar-expand-lg bg-light mt-2">
    <div class="container-fluid container">
      <a class="navbar-brand" href="#">NG SimpleAuth</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item px-1">
            <a class="nav-link btn btn-outline-primary" routerLink="/tasks" routerLinkActive="active">Tareas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" routerLink="/private-tasks" routerLinkActive="active">Tareas privadas</a>
          </li>
        </ul>
        <ul class="navbar-nav mx-end">
          <ng-container *ngIf="!(authService.loggedIn() | async); else loggedIn">
            <li class="nav-item px-1">
              <button class="nav-link btn btn-outline-primary" routerLink="/signin" routerLinkActive="active">Iniciar sesión</button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-primary" routerLink="/signup" routerLinkActive="active">Registrarme</button>
            </li>
          </ng-container>
          <ng-template #loggedIn>
            <li class="nav-item">
              <button class="nav-link btn btn-outline-primary" (click)="authService.logOut()">Salir <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><g fill="#000" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.347 7.116a.5.5 0 0 1 .704.064l2.083 2.5a.5.5 0 0 1-.768.64l-2.083-2.5a.5.5 0 0 1 .064-.704"/><path d="M15.347 12.884a.5.5 0 0 1-.064-.704l2.083-2.5a.5.5 0 1 1 .768.64l-2.083 2.5a.5.5 0 0 1-.704.064"/><path d="M17.5 10a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1 0-1H17a.5.5 0 0 1 .5.5m-14-7a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5m0 14a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5"/><path d="M13 2.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5m0 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 1 .5-.5m-9-10a.5.5 0 0 1 .5.5v14a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5"/></g></svg></span></button>
            </li>
          </ng-template>
        </ul>
      </div>
  </div>
</nav>



<div class="container p-5">
<router-outlet></router-outlet>
</div>
